body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.heading{
    background-color: lightslategray;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
}
.container {
    width: 900px;
    margin: 50px auto;
    .scoreboard{
        width: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: lightblue;
        border-radius: 5px;
        margin: auto;
        box-shadow: -4px -4px 5px 0px rgba(0,0,0,0.3);
        
        .player{
            order: 0;
            justify-self: center;
        }
        .computer{
            order: 1;
            justify-self: center;
        }
        #pscore{
            order: 3;
            justify-self: center;
            color: green;
            font-size: 1.5rem;
        }
        #cscore{
            order: 4;
            justify-self: center;
            color: red;
            font-size: 1.5rem;
        }
    }
    .choises{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        font-size: 6rem;
        color: gray;
        .rock{
            cursor: pointer;
        }
        .paper{
            cursor: pointer;
        }
        .scissor{
            cursor: pointer;
        }
    }
    .info{
        width: 500px;
        background-color: lightblue;
        height: 200px;
        margin: 50px auto;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        box-shadow: -4px -4px 5px 0px rgba(0,0,0,0.3);
    }
    .reset{
        text-align: center;
        button{
            width: 150px;
            height: 50px;
            background-color: lightcoral;
            border: solid 5px gray;
            color: white;
        }
    }
    .animation,
    .animation2,
    .animation3{
        transition: 0.5s;
        transform: rotate(360deg);
    }
}
